.react-calendar-timeline .rct-dateHeader-primary {
   color: black;
}

div.rct-item-content {
   color: black;
}

div > div.rct-header-root > div.rct-calendar-header > div:nth-child(1) span {
   color: white;
}
